{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
    <div class="container margin_navbar_light col-md-10 col-xs-12">
        <h1 class="text-left font_title mb-4">Voici votre panier :</h1>
        {% if items | length > 0 %}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.product.title }}</td>
                            <td>{{ item.product.price }} €</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.price * item.quantity}} €</td>
                            <td>
                                <a href="{{ path('cart_remove', {'id': item.product.id })}}" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">Total :</td>
                        <td>{{ total }} €</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            <div class="row ml-auto">
            <a href="" class="ml-auto btn btn-outline-success">
                <i class="fas fa-check"></i>
                Commander
            </a>
            <a href="{{ path("cart_remove_all")}}" class="ml-2 btn btn-outline-danger">
                <i class="fas fa-times"></i>
                Vider le panier
            </a>
            </div>
        {% else %}
            <div class="alert alert-warning col-8 text-center mx-auto">
                Votre panier est vide
            </div>            
        {% endif %}
        <a href="{{ path('home')}}">
            <i class="fas fa-arrow-left mb-5"></i>
            Retour à la liste des produits
        </a>
    </div>
{% endblock %}
