<div class="container-fluid" id="contact">
    <div class="row">
        <div class="col-md-4 col-xs-12 mx-auto text-center">
            <h2 class="text-center font_title">
                Nous contacter :
            </h2>
            {{ form_start(form_contact) }}
                {{ form_widget(form_contact)}}
                <button class="btn btn-outline-success">Envoyer</button>
            {{ form_end(form_contact)}}
        </div>
        <div class="col-md-6">
            <h2 class="text-center mb-5 font_title">Foire aux questions : </h2>
            {% for question in faq %}
                <div class="question_faq row border border-warning p-3 align-items-center">
                    <div class="col-10">
                        <div class="one_question">{{ question.question }}</div>
                    </div>
                    <div class="col text-right">
                        <i class="arrow_question fas fa-arrow-down"></i>
                    </div>
                </div>
                <div class="answer_faq row border border-secondary justify-content-between p-3 align-items-center">
                    {{ question.answer }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>