<nav id="navbar" class="navbar_top navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">LesReinesDuTricot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link scrollTo" href="#home-item">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link scrollTo" href="#us-item">Qui sommes nous ?</a>
      </li>
      <li class="nav-item dropdown" id="dropdown_category">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nos produits</a>
        <div class="dropdown-menu">
            {% for cat in app.session.get('category') %}
              {% for key, category in cat %}
                <a class="dropdown-item scrollTo" href="#cat-{{ key }}">{{ category }}</a>
              {% endfor %}
            {% endfor %}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link scrollTo" href="#contact-item">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link scrollTo" href="#contact-item">F.A.Q</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto align-items-center">
      <li class="nav-item">
        <a id="cart_logo" class="nav-link scrollTo" href="{{ path('cart_index')}}">
          <i class="fas fa-shopping-cart fa-1x" title="Votre panier"></i> 
          {% if app.session.get('totalproducts') > 0 %}
                    ( {{app.session.get('totalproducts')}} )
          {% endif %}
        </a>
      </li>
      {% if app.user %}
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                <img src="/images/users/{{ app.user.imageProfile.image }}" alt="Avatar de {{ app.user.fullName }}" class="avatar-navbar mr-2"> {{ app.user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                <a href="{{ path('user_profile')}}" class="dropdown-item">Mon compte</a>
                <div class="dropdown-divider"></div>
                <a href="{{ path('cart_index')}}" class="dropdown-item">Mon panier</a>
                <div class="dropdown-divider"></div>
                <a href="" class="dropdown-item">Mes commandes</a>
                <div class="dropdown-divider"></div>
                <a href="{{ path('logout')}}" class="dropdown-item">Déconnexion</a>
            </div>
        </li> 
      {% else %}
        <li class="nav-item">
            <a href="{{ path('user_subscribe')}}" class="nav-link">Inscription</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('login')}}" class="nav-link">Connexion</a>
        </li>
      {% endif %}
    </ul>
</nav>
<div id="alerts">
  {% for message in app.flashes('success') %}
      <div class="alert alert-success mx-auto text-center col-md-6 col-xs-12">
          {{ message }}
      </div>
  {% endfor %}
  {% for message in app.flashes('error') %}
      <div class="alert alert-danger mx-auto text-center col-md-6 col-xs-10">
          {{ message }}
      </div>
  {% endfor %}
</div>