<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">LesReinesDuTricot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link scrollTo" href="#home-item">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link scrollTo" href="#us-item">Qui sommes nous ?</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nos produits</a>
        <div class="dropdown-menu">
            {% for cat in app.session.get('category') %}
              {% for key, category in cat %}
                <a class="dropdown-item scrollTo" href="#cat-{{ key }}">{{ category }}</a>
              {% endfor %}
            {% endfor %}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link scrollTo" href="#contact-item">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link scrollTo" href="#contact-item">F.A.Q</a>
      </li>
      <li class="nav-item">
        <a class="nav-link scrollTo" href="{{path('user_subscribe')}}">S'inscrire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link scrollTo" href="{{ path('cart_index')}}">Votre panier 
          {% if app.session.get('totalproducts') > 0 %}
                    ( {{app.session.get('totalproducts')}} )
          {% endif %}
        </a>
      </li>
    </ul>
</nav>
<div id="alerts">
  {% for message in app.flashes('success') %}
      <div class="alert alert-success mx-auto text-center col-md-6 col-xs-12">
          {{ message }}
      </div>
  {% endfor %}
  {% for message in app.flashes('error') %}
      <div class="alert alert-danger mx-auto text-center col-md-6 col-xs-10">
          {{ message }}
      </div>
  {% endfor %}
</div>