{% extends 'base.html.twig' %}

{% block title %}haha{% endblock %}

{% block body %}
    <div class="container margin_navbar_light mb-5">
        <div class="row col-8 m-auto">
            <div class="col-md-6 col-xs-12">
                <h1 class="font_title mb-3">Fiche produit :</h1>
                <img src="{{product.picture}}" alt="{{ product.title }}">
                <table class="table table-stripped">
                    <tr>
                        <th>Prix</th>
                        <td><strong>{{ product.price }} €</strong></td>
                    </tr>
                    <tr>
                        <th>Disponibles</th>
                        <td><strong>{{ product.quantity }}</strong></td>
                    </tr>
                    <tr>
                        <th>Catégorie</th>
                        <td><strong><span class="badge badge-primary">{{ product.category.name }}</span></strong></td>
                    </tr>

                </table>
                <div class="row mb-5">
                    <a href="{{ path('home')}}" class="btn btn-outline-primary">
                        <i class="fas fa-arrow-left mr-1"></i>
                        Retour
                    </a>
                    <a href="{{ path('cart_add', {'id': product.id })}}" class="ml-2 btn btn-outline-success">
                        <i class="fas fa-plus mr-1"></i>
                        Ajouter au panier
                    </a> 
                </div>
            </div>
            <div class="col-md-6 mb-5 my-auto">
                <h3 class="text-left mb-5">{{ product.title }}</h3> 
                Description : 
                <div>{{ product.description }}</div>
            </div>
        </div>
    </div>
{% endblock %}