<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">      
</head>
<style>
body, p {
    font-family: 'Roboto';
}
</style>
    <body>
        <div class="container p-3 mx-auto">
            <p>Bonjour.
            Vous avez demandé récemment de réinitialiser votre mot de passe.
            Voici le code de vérification qui vous permettra de le faire : <strong>{{ token }}</strong>
            <p class="my-3">Il ne vous reste plus qu'à cliquer ci-dessous (ou en copiant/collant le lien dans votre navigateur) : </p>
            <a href="{{host}}/user/updatePassword/confirm?user={{ userEmail }}&rescueToken={{ token }}">{{host}}/user/updatePassword/confirm?user={{ userEmail }}&rescueToken={{ token }}</a>
        </div>
    </body>
</html>
