<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name="author" content="Florian THIEBAUD - Corentin MALLARD" />
        <meta name="copyright" content="©2020 LesReinesDuTricot" />
        <!-- <meta name="description" content="Bienvenue sur LesReinesDuTricot" /> -->
        <!-- <meta name="keywords" content="local,locale,vente,saint-etienne,loire,villars,éponges,corbeilles,attrapes rêves,homemade,fait maison,artisanal" /> -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="LesReinesDuTricot" />
        <meta property="og:type" content="website" />
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">      
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="shortcut icon" href="" />
        <title>LesReinesDuTricot - {% block title %}Bienvenue{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
        <div id="alerts">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success mx-auto text-center col-md-6 col-xs-12">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger mx-auto text-center col-md-6 col-xs-10">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div>
            {% if error_login is defined %}
               <div class="alert alert-warning">{{ error_login }}</div> 
            {% endif %}
        </div>
    <body>
        {% include 'partials/navbar.html.twig' %}
        {% block body %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script type="module" src="{{ asset('/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <script>
            AOS.init();
        </script>
    {% include "partials/footer.html.twig" %}
    </body>
</html>

